<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
    <!-- Slack API token -->
    <token>xoxb-5766809406786-6098325284464-Jzfs2DxOfD7DzCpccZhG6EfG</token>
    <!-- Slack incoming webhook uri. Uncomment the lines below to use incoming webhook uri instead of API token. -->
    <!--
    <webhookUri>https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</webhookUri>
    -->
    <!-- Channel that you want to post - default is #general -->
    <channel>#spring-assignment-channel</channel>
    <!-- Formatting (you can use Slack formatting - URL links, code formatting, etc.) -->
<!--    <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>-->
<!--    </layout>-->
    <!-- Username of the messages sender -->
    <username>DoohyunHwang97</username>
    <!-- Emoji to be used for messages -->
<!--    <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>-->
<!--    &lt;!&ndash; If color coding of log levels should be used &ndash;&gt;-->
<!--    <colorCoding>true</colorCoding>-->
</appender>
<!-- Currently recommended way of using Slack appender -->
<appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="SLACK" />
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
    </filter>
</appender>
<root>
    <level value="ALL" />
    <appender-ref ref="ASYNC_SLACK" />
</root>
</configuration>